<section id="experience">
    <div class="container">
      <h2>Experience</h2>
      <div class="experience-cards">
        <!-- Experience 1 -->
        <div class="experience-card">
          <h3>Software Developer at UST Global</h3>
          <p class="duration">Jan 2024 - Present</p>
          <ul>
            <li>Developed web applications using Angular and Spring Boot.</li>
            <li>Collaborated with cross-functional teams to deliver projects on time.</li>
          </ul>
        </div>
  
        <!-- Add more experience cards as needed -->
        <div class="experience-card">
          <h3>Automation Testing Engineer at Cantellat</h3>
          <p class="duration">Jan 2023 - April 2023</p>
          <ul>
            <li>Developed and Executed automated test script using selenium WebDriver for web applications</li>
            <!-- <li>Worked on back-end APIs with Java and Node.js.</li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  