<!-- <section class="projects">
    <div class="container-project">
        <h2>Projects</h2>
        <div class="project-items">
            <h3>Residential community communication platform using spring boot</h3>
            <p>In many residential communities, residents often rely on outdated methods of communication, such as paper notices on bulletin boards, emails, or word of mouth, to stay informed about important updates. For instance, a neighborhood might need to notify residents about a planned water shutoff, a scheduled community clean-up day, or an upcoming neighborhood watch meeting. These traditional methods can result in missed information or delayed updates, leading to confusion and frustration among residents. For example, if a community event is announced via email but a resident doesn't check their inbox regularly, they might miss the event entirely. This lack of effective communication can contribute to a sense of disconnection and dissatisfaction within the community.</p>
            <h4>Skills</h4>
                <ul>
                    <li>Java spring boot</li>
                    <li>Angular</li>
                </ul>
        </div>
    <div class="project-items">
        <h3></h3>

    </div>
    </div>
</section> -->
<section id="projects">
    <div class="container">
      <h2>Projects</h2>
      <div class="project-card">
          <div class="card-content">
            <h3>Bookstore Management System</h3>
            <p>Built using Spring Boot, MySQL, and Basic HTML,CSS</p>
            <a href="https://github.com/Srivathsav05/bookstore_springboot_project" target="_blank">GitHub Link</a>
          </div>
      </div>
      <div class="project-card">
          <div class="card-content">
            <h3>Healthcare Microservice</h3>
            <p>Developed a healthcare system with Spring Boot, SLF4J, and MySQL</p>
            <a href="https://github.com/Srivathsav05/health-care.git" target="_blank">GitHub Link</a>
          </div>
      </div>
      <!-- Add more projects here -->
    </div>
  </section>
  